@using Crmspecialcustomer.HostFrameworks.Pagination
@using global::Message.Application.Contract
@using global::User.Application.Common
@model PaginationViewModel<MessageViewModel>
@using Frameworks




<div class="row">

    <!--App Todo List Start-->
    <div class="col-12">
        <!--Todo List Wrapper Start-->
        <div class="todo-list-wrapper">

            <!--Todo List Menu Start-->
            <div class="todo-list-menu">
                <ul>
                    <li><a asp-controller ="Message" asp-action="Index"><i class="zmdi zmdi-time-restore"></i> همه</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-ToDay="true"><i class="zmdi zmdi-time-restore"></i> امروز</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-DayAgo="true"><i class="zmdi zmdi-time-restore"></i> دیروز</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-WeekAgo="true"><i class="zmdi zmdi-calendar"></i> 7 روز قبل</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-MonthAgo="true"><i class="zmdi zmdi-calendar-check"></i> 30 روز قبل</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-IsRead="true"><i class="zmdi zmdi-check-square"></i> خوانده شده</a></li>
                    <li><a asp-controller ="Message" asp-action="Index" asp-route-IsRead="false"><i class="zmdi zmdi-check-square"></i> خوانده نشده</a></li>
                </ul>
            </div>
            <!--Todo List Menu End-->
            <!--Todo List Container Start-->
            <div class="todo-list-container">

                <!--Todo List Search Start-->
                <div class="todo-list-search">
                    <form asp-action="Index" method="post">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                        <input name="Index" type="text" placeholder="جستجو برای انجام">
                    </form>
                </div>
                <!--Todo List Search End-->
                <ul class="todo-list">
                    @foreach (var message in Model.Models)
                    {
                        <li>
                            <div class="list-action">
                                <label class="adomx-checkbox">
                                    <input type="checkbox" disabled @(message.IsReadByCurrentUser?"checked":"")> <i class="icon"></i>
                                </label>
                                <button class="remove"><i class="zmdi zmdi-delete"></i></button>
                            </div>
                            <div class="list-content">
                                <p><a asp-action="Message" asp-route-MessageId="@message.Id">@(message.BodyMessage.Length < 25 ? message.BodyMessage : message.BodyMessage.Substring(0,25))</a></p>
                                <span class="time">@message.CreationDate.ToFarsiFull() تاریخ</span>
                                @if (message.IsReadByCurrentUser)
                                {
                                    <span class="text-success">خوانده شده ✔</span>

                                }
                                else
                                {
                                    <span class="text-danger">خوانده نشده ❌</span>

                                }
                            </div>

                            <div class="list-action right">
                                <a asp-action="RemoveMessage" asp-route-MessageId="@message.Id"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </li>
                    }

                </ul>
                <!--Todo List End-->
                <!--Add Todo List Start-->
                <form action="#" class="todo-list-add-new">
                    <button data-toggle="modal" data-target="#exampleModal4" data-whatever="mdo" class="submit"><i class="zmdi zmdi-plus-circle-o"></i></button>
                </form>
                <!--Add Todo List End-->

            </div>
            <!--Todo List Container End-->

        </div>
        <!--Todo List Wrapper End-->
         <div class="footable-pagination-wrapper" style="padding:15px">
                    <ul class="pagination">
                        <li class="footable-page-nav disabled" data-page="prev"><a  asp-action="Index" asp-route-PageId="@(Model.CurrentPage-1)" class="footable-page-link" >‹</a></li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="footable-page visible @(Model.CurrentPage == i ? "active" : "")" data-page="1"><a asp-action="Index" asp-route-PageId="@i" class="footable-page-link">@i</a></li>

                        }
                        <li class="footable-page-nav" data-page="next"><a  asp-action="Index" asp-route-PageId="@(Model.CurrentPage+1)"  class="footable-page-link">›</a></li>
                    </ul><div class="divider"></div><span class="label label-default">1 of 3</span>
                </div>
    </div>
    <!--App Todo List End-->

</div>

<!--Modal Create-->
<div class="modal fade" id="exampleModal4">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ایجاد اعلان</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form >
                    <h4 class="title">ارسال پیام جدید</h4>

                    <div class="row">
                        <div class="col-lg-12 col-12 mb-30"><input class="form-control" id="subject" name="Subject" type="text" placeholder="موضوع" required></div>
                        <div class="col-lg-12 col-12 mb-30"><textarea class="form-control" id="body" name="BodyMessage" placeholder="پیام" required></textarea></div>
                        <div><input class="form-control" id="datetime" value="@DateTime.Now.ToFarsi()" hidden></div>

                        <div class="col-lg-12 col-12 mb-30">
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                    <a id="admin" class="nav-link" aria-current="page" onclick="getRoleUsers(@((long)UserRolesEnum.Admin))">ادمین</a>
                                </li>
                                <li class="nav-item">
                                    <a id="requestCreator" class="nav-link" onclick="getRoleUsers(@((long)UserRolesEnum.RequestCreator))">مسئول درخواست</a>
                                </li>
                                <li class="nav-item">
                                    <a id="orderExpert" class="nav-link" onclick="getRoleUsers(@((long)UserRolesEnum.OrderExpert))">کارشناس برآورد</a>
                                </li>
                                   <li class="nav-item">
                                    <a id="materialCreator" class="nav-link" onclick="getRoleUsers(@((long)UserRolesEnum.MaterialCreator))">مسئول فهرست بهاء</a>
                                </li>


                            </ul>
                            <select id="ToUsersId" name="ToUsersId" asp-items="ViewBag.Users" class="form-control select2" multiple>
                            </select>
                        </div>


                    </div>

                    <div class="row">
                        <div class="d-flex flex-wrap justify-content-end col mbn-10">
                            <button type="button" id="sendButton" class="button button-outline button-primary mb-10 ml-10 mr-0" >ارسال</button>
                        </div>
                    </div><!-- Button Group End -->

                </form>

            </div>

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script asp-append-version="true" src="~/js/chat.js"></script>
<script>
  function getRoleUsers(roleId){
       $.ajax({
        type:'POST',
        url:'@Url.Action("GetRoleUsers","Message")',
        dataType:'json',
        data : { "RoleId": roleId },
        success:function(response){
            $("#ToUsersId option").remove()
            $(response).each(function () {
                $("#ToUsersId").append(`<option value="${this.userId}">${this.username}</option>`)

            })
        }
    })
  }
     
</script>