@using global::Service.Application.Contract.Material
@model List<MaterialViewModel>


<a class="button button-disqus" asp-action="Create">افزودن فهرست بها</a>


<div class="col-lg-12 col-12 mb-30">
    <div class="box">

        <div class="box-body">
            <table class="table" style="text-align:center;">
                <thead class="thead-dark">
                    <tr>
                        <th data-name="شرح کار">شرح کار</th>
                        <th data-name="مصالح">مصالح</th>
                        <th data-name="قیمت مواد پای کار">قیمت مواد پای کار</th>
                        <th data-name="هزینه اجرایی">هزینه اجرایی</th>
                        <th data-name="تاریخ">تاریخ</th>
                        <th data-name="واحد">واحد</th>
                        <th>ویرایش</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var material in Model)
                    {
                        <tr>

                            <td>@(material.Description.Length <= 20 ? @material.Description : @material.Description.Substring(0,20))</td>
                            <td>@material.ServiceName</td>
                            <td>@material.MaterialPrice تومان</td>
                            <td>@material.SalaryPrice تومان</td>
                            <td>@material.CreationDate</td>
                            <td>@material.Unit</td>
                            <td>
                                <button id="EditButton" class="button button-disqus" data-toggle="modal" data-target="#exampleModal5" data-whatever="mdo" onclick="GetValue('@material.Description',@material.MaterialId,@material.MaterialPrice,@material.SalaryPrice,'@material.Unit','@material.ServiceName')">ویرایش</button>

                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="RemoveMaterial" asp-route-MaterialId="@material.MaterialId">حذف</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<!--Modal Edit-->
<div class="modal fade" id="exampleModal5">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ویرایش فهرست بها</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="EditMaterial">
                    <div class="form-group">


                        <input id="MaterialPrice" type="number" class="form-control" name="MaterialPrice" placeholder="قیمت مواد پای کار " required>
                        <input id="MaterialSalaryPrice" type="number" class="form-control" name="SalaryPrice" placeholder="هزینه اجرایی" required>
                        <input id="MateriaServiceName" type="text" class="form-control" name="ServiceName" placeholder="نام مصالح" required>
                        <select id="selectlist" name="Unit" class="form-control select2">
                            <option value="سانتی متر">سانتی متر</option>
                            <option value="متر">متر</option>
                            <option value="کیلومتر">کیلومتر</option>
                        </select>
                        <textarea id="MaterialDescription" type="text" class="form-control" name="Description" placeholder="شرح کار" required></textarea>
                        <input id="MaterialId" type="hidden" class="form-control" name="MaterialId">
                        <input id="MaterialServiceId" type="hidden" class="form-control" name="ServiceId">
                    </div>
                    <div class="modal-footer">
                        <button class="button button-danger" data-dismiss="modal">بستن</button>
                        <button type="submit" class="button button-primary">اعمال</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



<script>
     //Get CenterValue by OnClick htmlEvent for insert to Editinputs value
    function GetValue(Description,Id,MaterialPrice,SalaryPrice,Unit,ServiceName){

       $("#MaterialDescription").val(Description)
       $("#MaterialId").val(Id)
       $("#MaterialPrice").val(MaterialPrice)
       $("#MaterialSalaryPrice").val(SalaryPrice)
       $("#MateriaServiceName").val(ServiceName)

       //unit selected
      $("#selectlist option").attr('selected',false); //remove selected of all options
      $('#selectlist option[value='+Unit+']').attr('selected',true); //add selected attribute to option whoes value is <Unit>
      $("#selectlist").trigger('change') 
       


    }
</script>