@using User.Application.Services;
@using Frameworkes.Auth;
@inject IAuth _auth;
@inject IUserApplication _userApplication;

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>سرویس مشتریان</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="~/assets/css/style-primary.css">

    <link rel="stylesheet" href="~/css/persian-datepicker.min.css">

</head>

<body dir="rtl">

    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="index.html">
                            <img src="/Media/2020104163548logo (1).png" alt="">
                            <img src="https://www.tci.ir/dorsapax/Data/Sub_0/Template/main/img/2020104163548logo.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->
                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>



                                </div>
                            </div><!-- Side Header Toggle & Search End -->
                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">




                                    <!--Notification-->
                                    <!-- Dropdown -->
                                    @(await Component.InvokeAsync("DropDownNotification"))

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    @if ((await _auth.GetCurrentUserInfofromClaims()).ProfilePicture != "avatar.jpg")
                                                    {
                                                        <img src="~/Media/Users/@_auth.GetCurrentId()/@_auth.GetCurrentUserInfofromClaims().Result.ProfilePicture" alt="">


                                                    }
                                                    else
                                                    {
                                                        <img src="~/Media/Users/avatar.jpg" alt="">

                                                    }

                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">@_auth.GetCurrentUserInfofromClaims().Result.FullName</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">

                                            <div class="body">
                                                <ul>
                                                    <li><a asp-controller="Users" asp-action="Edit" asp-route-UserId="@_auth.GetCurrentId()"><i class="zmdi zmdi-wallpaper"></i>ویرایش پروفایل من</a></li>
                                                </ul>

                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index"><i class="ti-home"></i> <span>داشبورد</span></a>

                        </li>
                        <li><a asp-controller="Request" asp-action="Index"><i class="ti-palette"></i> <span>درخواست ها</span></a></li>
                        <li><a asp-controller="Material" asp-action="Index"><i class="ti-palette"></i> <span>فهرست بهاء</span></a></li>
                        <li><a asp-controller="Order" asp-action="Index"><i class="ti-palette"></i> <span>براورد ها</span></a></li>
                        <li><a asp-controller="State" asp-action="Index"><i class="ti-palette"></i> <span>استان ها</span></a></li>
                        <li><a asp-controller="message" asp-action="Index"><i class="ti-palette"></i> <span>اعلان ها</span></a></li>

                        <li class="has-sub-menu">
                            <a href="#"><i class="ti-crown"></i> <span>کاربران</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a asp-controller="Users" asp-action="Index"><span>کاربران</span></a></li>
                                <li><a asp-controller="UserRole" asp-action="Index"><span>نقش ها</span></a></li>

                            </ul>
                        </li>
                        <li style="background-color:black; color:black;"><a asp-controller="Home" asp-action="Logout"><i class="ti-palette"></i> <span>خروج از حساب</span></a></li>



                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->
        <!-- Content Body Start -->
        <div class="content-body">

            @RenderBody();


        </div><!-- Content Body End -->
        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">1398 &copy; <a href="https://www.rtl-theme.com/user-profile/tn_plugin/">جعفر عباسی</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
    ============================================ -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("Scripts",false)

    <!--Persian DatePicker-->
    <script src="~/js/persian-datepicker.min.js"></script>
    <script src="~/js/persian-date.min.js"></script>

    <script>
        $('.PersianDateInput').persianDatepicker({
                 format: 'YYYY/MM/DD',
                 autoClose: true,
                 initialValueType: "persian",


             });
    </script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
                var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
                connection.start();
                connection.invoke("CheckNotification").catch(function (err) {
            return console.error(err.toString());
        });
        connection.on("ReceiveUnreadMessage", function (user,userMessages) {
            document.getElementById("notification").classList.add("badge");

        });


    </script>
    <!-- Global Vendor, plugins & Activation JS -->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="~/assets/js/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->
    <!--Moment-->
    <script src="~/assets/js/plugins/moment/moment.min.js"></script>

    <!--Daterange Picker-->
    <script src="~/assets/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/js/plugins/daterangepicker/daterangepicker.active.js"></script>

    <!--Echarts-->
    <script src="~/assets/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/assets/js/plugins/chartjs/chartjs.active.js"></script>

    <!--VMap-->
    <script src="~/assets/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="~/assets/js/plugins/vmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js"></script>
    <script src="~/assets/js/plugins/vmap/vmap.active.js"></script>



</body>


</html>

